[DATABASE]
SOURCE_IP = 192.168.137.229
SOURCE_PORT = 3306
TARGET_IP = 192.168.137.2
TARGET_PORT = 3306
DBUSER = bird
DBPASS = Bird123!@#

[BIRD]
MYSQL_CLIENT_PATH = /home/sigongweb/server/mariadb
BINARYLOG_PATH = /log/binary_log
TABLE_CONF = /home/sigongweb/server/birdcdc/tableConfig.cnf
END_POS_FILE = /home/sigongweb/server/birdcdc/birdEndpos.log
PID_FILE = /home/sigongweb/server/birdcdc/birdcdc.pid
LOG_FILE = /home/sigongweb/server/birdcdc/cdc.log

[REPL]
BINARY_FILE = maridb-bin.000021
BINARY_POS = 401552817
TODB = etc2
FROMDB = etc
