[DATABASE]
SOURCE_IP = 192.168.137.229
SOURCE_PORT = 3306
TARGET_IP = 192.168.137.2
TARGET_PORT = 3306
DBUSER = bird
DBPASS = Bird123!@#

[BIRD]
BASE_PATH = /home/sigongweb/server/birdcdc
MYSQL_CLIENT_PATH = /home/sigongweb/server/mariadb
BINARYLOG_PATH = /log/binary_log
DUMPFILE_PATH = /home/sigongweb/server/birdcdc/dump

[REPL]
BINARY_FILE = maridb-bin.000020
BINARY_POS = 514752818
TODB = etc2

[CONDITION]
DATABASE = etc
TABLES = sbtest1,sbtest2