[SOURCE_DB]
IP =
PORT =
SSHUSER =
SSHPASS =
SSHPORT =
DBUSER =
DBPASS =

[TARGET_DB]
IP =
PORT =
DBUSER =
DBPASS =

[CDC]
CDC_MYSQL_CLIENT_PATH =
CDC_LOG_PATH =
CDC_EGG_FILE_PATH =
SOURCE_BINARY_LOG_PATH =
BINARY_FILE =
BINARY_POSITION =

[CONDITION]
DATABASE =
TABLES =